<div
  class="task-card"
  cdkDrag
  [cdkDragData]="task"
  [cdkDragDisabled]="task.loading"
  (click)="onClick()"
>
  <div
    class="task-card-priority"
    [ngStyle]="{ background: getPriorityColor(task.priority ?? 0) }"
  ></div>
  <div class="task-card-content">
    <div class="task-header">
      <span class="task-title">{{ task.name }}</span>
      <span class="story-points">SP: {{ task.storyPoints }}</span>
    </div>
    <div class="task-desc">{{ task.description }}</div>
    <div class="task-meta">
      <span
        class="priority"
        [style.color]="getPriorityColor(task.priority ?? 0)"
      >
        {{ getPriorityLabel(task.priority ?? 0) }}
      </span>
      <span class="assignee">
        <span class="material-icons">person</span>
        {{ task.assigneeName }}
      </span>
    </div>
  </div>
</div>
