<section class="profile-main-section" *ngIf="user">
  <div class="profile-main-grid">
    <div class="profile-fields">
      <div class="fields-table">
        <div class="field-row">
          <div class="field-label-cell">
            <label for="fullName">ФИО</label>
          </div>
          <div class="field-input-cell">
            <input
              [(ngModel)]="user.fullName"
              id="fullName"
              name="fullName"
              required
            />
          </div>
        </div>
        <div class="field-row">
          <div class="field-label-cell">
            <label for="email">Email</label>
          </div>
          <div class="field-input-cell">
            <input [(ngModel)]="user.email" id="email" name="email" disabled />
          </div>
        </div>
        <div class="field-row">
          <div class="field-label-cell">
            <label for="phone">Телефон</label>
          </div>
          <div class="field-input-cell">
            <input
              [(ngModel)]="user.phone"
              id="phone"
              name="phone"
              mask="0000000000"
              [dropSpecialCharacters]="false"
              [showMaskTyped]="true"
              placeholder="9655889055"
            />
          </div>
        </div>
      </div>
      <button
        class="profile-save-btn"
        (click)="saveProfile.emit()"
        title="Сохранить"
      >
        Сохранить изменения
      </button>
      <div
        class="save-result-popup"
        [class.show]="saveResult?.show"
        [class.success]="saveResult?.status === 'success'"
        [class.error]="saveResult?.status === 'error'"
        *ngIf="saveResult?.show"
      >
        {{ saveResult?.message }}
      </div>
    </div>
  </div>
</section>
