<section class="profile-system-section">
  <form class="profile-system-form" (ngSubmit)="onSaveSettings()">
    <div class="system-row">
      <label>Фон для досок</label>
      <div class="bg-templates">
        <div
          class="bg-template"
          *ngFor="let tpl of bgTemplates"
          [class.selected]="systemSettings.boardBgUrl === tpl.url"
          (click)="selectBgTemplate(tpl)"
        >
          <ng-container *ngIf="tpl.url; else noBgTpl">
            <img [src]="tpl.url" [alt]="tpl.name" />
          </ng-container>
          <ng-template #noBgTpl>
            <div class="no-bg-icon" title="Без фона">
              <span class="material-icons" style="font-size: 40px; color: #bbb"
                >block</span
              >
            </div>
          </ng-template>
          <div class="bg-template-name">{{ tpl.name }}</div>
        </div>
      </div>
    </div>
    <button type="submit" class="save-btn" [disabled]="!isSettingsChanged()">
      Сохранить
    </button>
    <div
      *ngIf="saveResult?.show"
      class="save-result"
      [ngClass]="saveResult?.status"
    >
      {{ saveResult?.message }}
    </div>
  </form>
</section>
