<section class="profile-system-section">
  <form class="profile-system-form" (ngSubmit)="onSaveSettings()">
    <div class="system-row">
      <label for="theme">Тема</label>
      <select [(ngModel)]="systemSettings.theme" name="theme" id="theme">
        <option *ngFor="let option of themeOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
    <div class="system-row">
      <label>Фон для досок</label>
      <div class="bg-templates">
        <div
          class="bg-template"
          *ngFor="let tpl of bgTemplates"
          [class.selected]="systemSettings.boardBgUrl === tpl.url"
          (click)="selectBgTemplate(tpl)"
        >
          <img [src]="tpl.url" [alt]="tpl.name" />
          <div class="bg-template-name">{{ tpl.name }}</div>
        </div>
      </div>
    </div>
    <button type="submit" class="save-btn">Сохранить</button>
  </form>
</section>
