<mat-nav-list>
  <a mat-list-item routerLink="/company">
    <mat-icon>business</mat-icon>
    <span>Company</span>
  </a>
  <a mat-list-item routerLink="/departments">
    <mat-icon>group</mat-icon>
    <span>Departments</span>
  </a>
  <a mat-list-item routerLink="/boards">
    <mat-icon>dashboard</mat-icon>
    <span>Boards</span>
  </a>
  <a mat-list-item routerLink="/users">
    <mat-icon>people</mat-icon>
    <span>Users</span>
  </a>
  <a mat-list-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a>
</mat-nav-list>
