<ng-container *ngIf="comments && comments.length > 0; else noComments">
  <div class="comments-list">
    <div *ngFor="let comment of comments" class="comment-card">
      <img
        *ngIf="comment.user?.avatarUrl"
        class="avatar"
        [src]="comment.user.avatarUrl"
        [alt]="comment.user.name || comment.authorId"
      />
      <div class="comment-card-content">
        <div class="comment-meta">
          <span class="author">
            {{ comment?.authorName }}
          </span>
          <span class="date">{{ comment.creationDate | date : "short" }}</span>
        </div>
        <div class="text">{{ comment.text }}</div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noComments>
  <div class="no-comments">Нет комментариев</div>
</ng-template>
<div class="add-comment">
  <textarea
    [(ngModel)]="newCommentText"
    (ngModelChange)="newCommentTextChange.emit($event)"
    placeholder="Добавить комментарий..."
    rows="2"
    [disabled]="addingComment"
  ></textarea>
  <button
    (click)="addComment.emit()"
    [disabled]="addingComment || !newCommentText.trim()"
    class="add-comment-btn"
    title="Добавить комментарий"
  >
    <span class="material-icons">send</span>
  </button>
</div>
