<div class="board-tabs">
  <button [class.active]="tab === 'board'" (click)="tab = 'board'">
    Доска
  </button>
  <button [class.active]="tab === 'burn'" (click)="tab = 'burn'">График</button>
</div>

<!-- Доска -->
<div *ngIf="tab === 'board'" class="board-main-area">
  <div class="board-columns-outer">
    <div
      class="board-columns"
      cdkDropList
      [cdkDropListData]="columns"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="onColumnDrop($event)"
    >
      <app-board-column
        *ngFor="let col of sortedColumns; trackBy: trackByColId"
        [column]="col"
        [isDragging]="isDraggingColumnId === col.id"
        [addingTaskColumnId]="addingTaskColumnId"
        [newTaskName]="newTaskName"
        [connectedDropListsIds]="connectedDropListsIds"
        [getPriorityColor]="getPriorityColor"
        [getPriorityLabel]="getPriorityLabel"
        (editColumn)="editColumn($event)"
        (addTask)="addTask($event)"
        (toggleAddTask)="toggleAddTask($event)"
        (cancelAddTask)="cancelAddTask()"
        (onTaskDrop)="onTaskDrop($event, col)"
        (openTaskDialog)="openTaskDialog($event)"
        (columnDragStarted)="onColumnDragStarted($event)"
        (columnDragEnded)="onColumnDragEnded()"
      ></app-board-column>
      <div class="board-column board-column-add">
        <ng-container *ngIf="!addingColumn; else addColForm">
          <button
            class="add-column-btn"
            (click)="showAddColumnForm()"
            title="Добавить столбец"
          >
            + Добавить столбец
          </button>
        </ng-container>
        <ng-template #addColForm>
          <form
            class="add-column-form"
            (ngSubmit)="addColumn()"
            autocomplete="off"
          >
            <input
              class="add-col-input"
              type="text"
              [(ngModel)]="newColumnTitle"
              name="newColumnTitle"
              maxlength="32"
              required
              placeholder="Название столбца"
              autofocus
            />
            <input
              class="add-col-color"
              type="color"
              [(ngModel)]="newColumnColor"
              name="newColumnColor"
              required
            />
            <button
              class="add-btn"
              type="submit"
              [disabled]="!newColumnTitle.trim()"
            >
              +
            </button>
            <button
              class="cancel-btn"
              type="button"
              (click)="cancelAddColumn()"
            >
              ×
            </button>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div *ngIf="tab === 'burn'">
  <app-board-analytics [columns]="columns"></app-board-analytics>
</div>
